<a href="https://colab.research.google.com/github/18K41A0476/assignment--1/blob/master/assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# ASSIGNMENT-1

In [ ]:
#problem 1

yr=int(input("enter year"))
if yr%12==0:
  print("monkey")
elif yr%12==1:
    print("rooster")
elif yr%12==2:
    print("dog")
elif yr%12==3:
    print("pig")
elif yr%12==4:
    print("rat")
elif yr%12==5:
    print("ox")
elif yr%12==6:
    print("tiger")
elif yr%12==7:
    print("rabbit")
elif yr%12==8:
    print("dragan")
elif yr%12==9:
    print("snake")
elif yr%12==10:
    print("horse")
else:
    print("sheep")

enter year2000
dragan

In [ ]:
#problem 2

dist=int(input("enter distance"))
wt=int(input("enter wt"))
if dist>=500:
  if wt>=100:
    cost=5*dist
  elif wt>=10 and wt<100:
      cost=6*dist
  else:
    cost=7*dist
else:
    if wt>=100:
      cost=8*dist
    else:
        cost=5*dist
print("charge of goods",cost)

enter distance520
enter wt50
charge of goods 3120

**3**.	**The Entertainment Paradise**

 **A theater in Delhi wants to develop a computerized Booking System. The theater offers different types of seats. The Ticket rates are- Stalls- Rs. 625/-, Circle- Rs.750/-, Upper Class- Rs.850/- and Box- Rs.1000/-. A discount is given 10% of total amount if tickets are purchased on Cash. In case of credit card holders 5% discount is given.** 
**Input: 	Type of Seat: Circle**    
**Payment mode: cash**
**Output: Cost of ticket: 675**

In [ ]:
#problem 3
seat=input("enter type of seat")
mode=input("enter payment mode")
if seat=='circle':
  if mode=='cash':
    cost=750-((10/100)*750)
    print(cost)
  else:
    cost=750-((5/100)*750)
    print(cost)
elif seat=='stall':
  if mode=='cash':
    cost=625-((10/100)*625)
    print(cost)
  else:
    cost=625-((5/100)*625)
    print(cost)
    if seat=='upperclass':
      if mode=='cash':
        cost=850-((10/100)*850)
        print(cost)
      else:
        cost=850-((5/100)*850)
        print(cost)
else:
  if mode=='cash':
    cost=1000-((10/100)*1000)
    print(cost)
  else:
    cost=1000-((5/100)*1000)
    print(cost)

enter type of seatcircle
enter payment modecash
675.0

**4**.**Develop a program that calculates the energy needed to heat water from an initial temperature**
**to a final temperature.Your program should prompt the user to enter the amount of water in kilograms**
**and the initial and final temperatures of the water.The formula to compute the energy is** 
**Q = M * (finalTemperature – initialTemperature) * 4184**. 
**where M is the weight of water in kilograms, temperatures are in degrees** **Celsius,  and energy Q is measured in joules.** (L6)

In [ ]:
#problem 4
m=float(input("weight of water "))
t1=int(input("initial temperature "))
t2=int(input("final temperature "))
q=m*(t2-t1)*4184
print(q,"J")

weight of water 5
initial temperature 0
final temperature 120
2510400.0 J

**5**.**Develop a program that prompts user to enter month and  print**

**a**.	**“Winter ” -   December ,January and February**

**b**.	**“Spring”  -   March ,April and May**

**c**.	**“Summer”  --- June ,July, August**

**d.**	**“Autumn ”  -- September ,October, November**

In [ ]:
#problem 5
month=input()
if month=='December'or month=='January' or month=='February':
  print("Winter")
if month=='March' or month=='April' or month=='May':
  print("Spring")
if month=='June' or month=='July' or month=='August':
  print("Summer")
if month=='September' or month=='October' or month=='November':
  print("Autum")

May
Spring

**6.body mass index**

In [ ]:
#problem 6
h=float(input("enter height "))
w=float(input("enter weight "))
bmi=(w*0.4535)/(h*0.0254)**2
if bmi<18.5:
  print("underweight")
elif bmi>=18.5 or bmi<25.0:
  print("normal")
elif bmi>=25.0 or bmi<30.0:
  print("overweight")
else:
  print("obese")

enter height 5.8
enter weight 80
normal

**7.**	**Write a program that reads an integer between 100 and 1000 and adds all the digits in the integer 	(	ex: input 745 	# output =16	(7+4+5)	)**

In [ ]:
#problem 7
i=int(input("enter value between 100 and 1000:  "))
sum=0
rem=0
while i>0:
  rem=i%10
  sum=sum+rem
  i=i//10
print(sum)

enter value between 100 and 1000:  745
16

**8**.	**Print all palindrome numbers between 1 to 1000.**

In [ ]:
#problem 8
for i in range(1,1000):
  num=i
  rem=0
  sum=0
  while i>0:
    rem=i%10
    sum=sum*10+rem
    i=i//10
  if sum==num:
    print(num)

1
2
3
4
5
6
7
8
9
11
22
33
44
55
66
77
88
99
101
111
121
131
141
151
161
171
181
191
202
212
222
232
242
252
262
272
282
292
303
313
323
333
343
353
363
373
383
393
404
414
424
434
444
454
464
474
484
494
505
515
525
535
545
555
565
575
585
595
606
616
626
636
646
656
666
676
686
696
707
717
727
737
747
757
767
777
787
797
808
818
828
838
848
858
868
878
888
898
909
919
929
939
949
959
969
979
989
999

**9.	Print all Armstrong numbers between 1 to 1000.**

In [ ]:
#problem 9
for i in range(1,1000):
  num=i
  rem=0
  sum=0
  while i>0:
    rem=i%10
    sum=sum+rem**3
    i=i//10
  if sum==num:
    print(num)

1
153
370
371
407

**10**.	**Write a Java program which iterates the integers from 1 to 100. For multiples of three print "Fizz" instead of the number and print "Buzz" for the multiples of five. When number is divided by both three and five, print "fizz buzz".**

In [ ]:
#problem 10
for i in range(1,100):
    if i%3==0 and i%5==0:
      print("fizz buzz")
    elif i%3==0:
      print("Fizz")
    elif i%5==0:
      print("Buzz")
    else:
      print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
fizz buzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
fizz buzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
fizz buzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
fizz buzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
fizz buzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
fizz buzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz

**11**.**Spider Problem:A spider present at the bottom of the well of height H, needs to get out of it, using the slippery wall of the well.It decides to climb up the well; it goes up U meters and slips down D meters in one single step. So, in each step it covers (U-D) meters, and if the spider gets out of the well by covering U meters in the last step it doesn’t a slip back. For example, if the spider climbs up 5 meters and slips down by 3 meters in a single step, it covers (U - D) m in each step and 96 m in 48 steps, but in the 49th step it climbs up 5 m and reaches out of the well and it will not slip down and the step is counted as one step**.     
**Input**: **Each test case will contain 3 integers ’H’ height of the well, next ’U’ meters climbs up in each step, and the last ’D’ meters slips down in each step**.
**Output**:**The number of steps 'N' required to get out of the well**. 
**Example 1**:
 	**Input**:						**Ouput** 
	  200 50 1					      5
	Example 2:
 	**Input**:						**Output**
	500 20 15					       98

In [ ]:
#problem 11
H=int(input("height "))
U=int(input("climb "))
D=int(input("down "))
x=0
count=0
while x<=(H-U):
  x=x+(U-D)
  count+=1
print(count+1)

height 500
climb 20
down 15
98